/* * {
  background: black;
  color: green;
  outline: 1px solid red;
} */

.container {
  max-width: 1080px;
  height: 100%;
  margin: 2rem auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-template-areas:
    'banner banner banner'
    'content-1 content-1 title-1'
    'title-2 content-2 content-2'
    'content-3 content-3 title-3'
    'title-4 content-4 content-4'
    'content-5 content-5 title-5'
    'footer footer footer';
  gap: 1rem;
}

.content {
  /* background: #ccc; */
  /* background: rgb(182, 248, 207); */
  background: rgb(141, 61, 61);
  color: white;
}

.title {
  background: rgb(250, 246, 184);
  font-size: 1.5rem;
  font-weight: bold;
  border: 5px solid rgb(141, 61, 61);
}

.rounded-all {
  border-radius: 1rem;
}

.transition {
  transition: 0.8s;
}

.banner {
  background: rgb(50, 51, 53);
  grid-area: banner;
  height: 300px;
  display: flex;
}

.blinking-cursor {
  font-weight: bold;
  font-size: 3.6rem;
  color: #2e3d48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from,
  to {
    color: transparent;
  }
  50% {
    /* color: black; */
    color: white;
  }
}

@-moz-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    /* color: black; */
    color: white;
  }
}

@-webkit-keyframes "blink" {
  from,
  to {
    color: transparent;
  }
  50% {
    /* color: black; */
    color: white;
  }
}

@-ms-keyframes "blink" {
  from,
  to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-o-keyframes "blink" {
  from,
  to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

.banner-title {
  color: #fff;
}

.name-plate {
  font-size: 1.8rem;
  align-self: center;
  margin-left: 3rem;
}

.contact {
  color: #fff;
  font-size: 1rem;
  line-height: 1.5rem;

  padding: 1rem;
  margin-left: auto;
  align-self: flex-end;
}

a {
  color: #fff;
}

a:hover {
  color: #ccc;
}

.content-1 {
  grid-area: content-1;
  padding: 2rem;
}

.title-1 {
  grid-area: title-1;
  display: flex;
  padding-left: 2rem;
}

.title-1 h2,
.title-2 h2,
.title-3 h2,
.title-4 h2,
.title-5 h2 {
  align-self: center;
}

.title-2 {
  grid-area: title-2;
  display: flex;
  padding-left: 2rem;
}

.content-2 {
  grid-area: content-2;
  padding: 2rem;
}

.title-3 {
  grid-area: title-3;
  display: flex;
  padding-left: 2rem;
}

.content-3 {
  grid-area: content-3;
  padding: 2rem;
}

.title-4 {
  grid-area: title-4;
  display: flex;
  padding-left: 2rem;
}

.content-4 {
  grid-area: content-4;
  padding: 2rem;
}

.title-5 {
  grid-area: title-5;
  display: flex;
  padding-left: 2rem;
}

.content-5 {
  grid-area: content-5;
  padding: 2rem;
}

.footer {
  background: rgb(50, 51, 53);
  color: #fff;
  grid-area: footer;
  text-align: center;
  line-height: 3rem;
}

#btn1 {
  position: fixed;
  top: 2rem;
  left: 2rem;
}

#btn2 {
  position: fixed;
  top: 4rem;
  left: 2rem;
}

#btn3 {
  position: fixed;
  top: 6rem;
  left: 2rem;
}

.lang-icon {
  position: fixed;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  font-family: inherit;
  border: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.lang-icon:hover {
  color: red;
}

.locale-menu {
  position: fixed;
  top: 5px;
  right: -100px;
  display: flex;
  flex-direction: column;
  font-family: 'Noto Sans TC', sans-serif;
}

.locale-menu:hover {
  right: 5px;
}

.locale-item {
  width: 80px;
  height: 2rem;

  color: #2e3d48;
  background: #ccc;
  line-height: 2rem;
  text-align: center;

  padding: 0 1rem 0 1rem;
  margin: 3px;
  border-radius: 5px;

  cursor: pointer;

  align-self: flex-end;
}

.locale-icon {
  width: 130px;
  height: rem;

  color: #2e3d48;
  background: #ccc;
  line-height: 2rem;
  text-align: left;

  padding: 0 1rem 0 1rem;
  margin: 3px;
  border-radius: 5px;

  cursor: pointer;
}

.fa-language {
  vertical-align: middle;
}

.locale-item:hover,
.locale-icon:hover {
  background: rgb(146, 146, 146);
}

.lang-icon:hover .locale-item {
  background: yellow;
}

.year {
  color: rgb(138, 138, 138);
}

.lang,
.cert {
  display: flex;
}

.lang-list,
.lang-level,
.cert-score,
.cert-title {
  width: 100px;
  margin: 0.5rem;
}

.cert-list {
  width: 150px;
  margin: 0.5rem;
}

.cert-title {
  font-weight: bold;
}

.skill {
  display: flex;
}

.skill-list {
  width: auto;
  margin: 0.5rem;
}

.devicon {
  font-size: 3rem;
}

.skill-icon {
  margin: 1rem;
}

.skill-name {
  text-align: center;
}
