body {
  background: #e2e1e0;
}

.container {
  max-width: 1080px;
  height: 100%;
  margin: 2rem auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-template-areas:
    'banner banner banner'
    'content-1 content-1 title-1'
    'title-2 content-2 content-2'
    'content-3 content-3 title-3'
    'title-4 content-4 content-4'
    'content-5 content-5 title-5'
    'footer footer footer';
  gap: 1.5rem;
  position: relative;
  z-index: 1;
}

.content {
  /* background: #fffff6; */
  background: #fffeee;
  /* background: #fff; */
  /* background: rgb(141, 61, 61); */
  /* color: rgb(50, 51, 53);*/
  color: #2c3e50;
  /* color: white; */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.content:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.title {
  /* background: rgb(250, 246, 184); */
  /* background: #fff; */
  background: #fffff6;
  /* background: rgba(0, 0, 0, 0); */

  color: #4ca1af;
  /* color: #2c3e50; */

  font-size: 2.8rem;
  font-weight: 400;
  /* border: 5px solid rgb(141, 61, 61); */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.title:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.rounded-all {
  border-radius: 2px;
}

.transition {
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
}

b {
  font-weight: 600;
}

.banner {
  /* From uiGradients: Deep Sea Space */
  background: #2c3e50; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4ca1af, #2c3e50);
  background: linear-gradient(to right, #4ca1af, #2c3e50);

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  grid-area: banner;
  height: 300px;
  padding: 1.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    '. . .'
    'name name .'
    '. . contact';
  gap: 0;
}

.banner:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.blinking-cursor {
  font-weight: bold;
  font-size: 3.6rem;
  color: #2e3d48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from,
  to {
    color: transparent;
  }
  50% {
    /* color: black; */
    color: #fffeee;
  }
}

@-moz-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    /* color: black; */
    color: #fffeee;
  }
}

@-webkit-keyframes "blink" {
  from,
  to {
    color: transparent;
  }
  50% {
    /* color: black; */
    color: #fffeee;
  }
}

@-ms-keyframes "blink" {
  from,
  to {
    color: transparent;
  }
  50% {
    color: #fffeee;
  }
}

@-o-keyframes "blink" {
  from,
  to {
    color: transparent;
  }
  50% {
    color: #fffeee;
  }
}

.banner-title {
  color: #fffeee;
  margin: 0;
}

.name-plate {
  font-size: 1.8rem;
  align-self: center;
  grid-area: name;
}

.contact {
  color: #fffeee;
  font-size: 1rem;
  line-height: 1.5rem;
  grid-area: contact;
}

a {
  color: #fffeee;
}

a:hover {
  color: #4ca1af;
}

.content-1 {
  grid-area: content-1;
  padding: 2rem;
}

.title-1 {
  grid-area: title-1;
  display: flex;
  padding-left: 2rem;
}

.title-1 p,
.title-2 p,
.title-3 p,
.title-4 p,
.title-5 p {
  align-self: center;
}

.title-2 {
  grid-area: title-2;
  display: flex;
  padding-left: 2rem;
}

.content-2 {
  grid-area: content-2;
  padding: 2rem;
}

.title-3 {
  grid-area: title-3;
  display: flex;
  padding-left: 2rem;
}

.content-3 {
  grid-area: content-3;
  padding: 3rem;
}

.title-4 {
  grid-area: title-4;
  display: flex;
  padding-left: 2rem;
}

.content-4 {
  grid-area: content-4;
  padding: 2rem;
}

.title-5 {
  grid-area: title-5;
  display: flex;
  padding-left: 2rem;
}

.content-5 {
  grid-area: content-5;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  gap: 0;
}

.footer {
  /* From uiGradients: Deep Sea Space */
  background: #2c3e50; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #4ca1af, #2c3e50);
  background: linear-gradient(to left, #4ca1af, #2c3e50);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  color: #fffeee;
  grid-area: footer;
  text-align: center;
  line-height: 3rem;
}

.footer:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.lang-icon {
  position: fixed;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  font-family: inherit;
  border: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
  border-style: solid;
  border-width: 1px 1px 0 1px;
}

.locale-menu {
  position: fixed;
  top: 1rem;
  right: -6.5rem;
  font-family: 'Noto Sans TC', sans-serif;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.locale-menu:hover {
  right: 0px;
}

.locale-items {
  background: #4ca1af;
  align-self: flex-end;
  position: absolute;
  padding-top: 0.2rem;
  top: 2.3rem;
  z-index: 3;
}

.locale-item {
  width: 5rem;
  height: 2rem;

  color: #2c3e50;
  background: #4ca1af;
  line-height: 2rem;
  text-align: center;

  padding: 0 1rem 0 1rem;
  cursor: pointer;
  border-left: 0.2rem solid #e2e1e0;
}

.locale-item:nth-child(3) {
  border-bottom: 0.2rem solid #e2e1e0;
}

.locale-icon {
  width: 8.125rem;
  height: 2.3rem;

  color: #2c3e50;
  background: #4ca1af;
  line-height: 2rem;
  text-align: left;

  padding: 0 1rem 0 0.5rem;
  border: 0.2rem solid #e2e1e0;
  border-right: none;

  cursor: pointer;
  vertical-align: middle;
  z-index: 2;
}

.locale-menu-mobile {
  position: fixed;
  top: 0.3rem;
  left: 0rem;
  font-family: 'Noto Sans TC', sans-serif;
  display: flex;
  flex-direction: column;
  z-index: 10;
  display: none;
}

.locale-icon-mobile {
  width: 3rem;
  height: 3rem;

  color: #2c3e50;
  background: #4ca1af;
  line-height: 3rem;
  text-align: center;

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  cursor: pointer;
}

.locale-items-mobile {
  background: #2c3e50;
  align-self: flex-start;
  display: none;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.locale-item-mobile {
  width: 5rem;
  height: 2rem;

  color: #fffff6;
  line-height: 2rem;
  text-align: center;
  cursor: pointer;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.active {
  background: #2c3e50;
  color: #fffeee;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.fa-language {
  vertical-align: middle;
}

.locale-item:hover {
  background: #2c3e50;
  color: #fffeee;
}

.year {
  color: #4ca1af;
}

.lang,
.cert {
  display: flex;
}

.lang-list,
.lang-level {
  width: 6.25rem;
  margin: 0.5rem;
}

.cert-title,
.cert-grade {
  width: 9.375rem;
  margin: 0.5rem;
}

.lang-list {
  font-weight: 600;
}

.cert-header {
  margin: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.cert-item {
  margin: 0.5rem;
}

.cert-grade {
  color: #4ca1af;
}

.skill {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: auto;
  gap: 0;
  text-align: center;
}

.skill-list {
  width: auto;
  margin: 0.5rem;
}

.devicon {
  font-size: 3rem;
  transition: 0.5s;
}

.skill-list:hover .devicon,
.skill-list:hover .skill-name {
  color: #4ca1af;
}

.skill-icon {
  margin: 1rem;
}

.skill-name {
  text-align: center;
  transition: 0.5s;
}

/* Style the header: fixed position (always stay at the top) */
.header {
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  /* background-color: #f1f1f1; */
  opacity: 0.8;
}

/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 8px;
  background: #e2e1e0;
  /* border-bottom: 2px solid #fff; */
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 8px;
  background: #4ca1af;
  width: 0%;
}

/* Go to Top Button */
.scrolltop {
  display: none;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  bottom: 0px;
  /* left: 0px; */
  z-index: 2;
}

.scroll {
  position: absolute;
  left: 10px;
  bottom: 10px;
  color: #2c3e50;
  background: #4ca1af;
  /* background: rgba(178, 178, 178, 0.7); */
  padding: 5px 10px 5px 10px;
  text-align: center;
  margin: 0 0 0 0;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.scroll:hover {
  /* background: rgba(178, 178, 178, 1); */
  color: #fffeee;
  background: #2c3e50;
}

/* My projects grid */
.project-container {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  gap: 3rem;
  z-index: 2;
}

.project-card {
  width: 100%;
  height: 300px;
  background: #fffeee;
  display: block;
}

.card {
  width: auto;
  height: auto;
  padding: 1.5rem;
  background: #fffff6;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24),
    /* inset 0px 0px 50px rgba(0, 0, 20, 0.2); */ inset 0px 0px 50px
      rgba(119, 80, 29, 0.3);
  transition: 0.5s;
  position: relative;
}

.card a {
  color: #2c3e50;
  text-decoration: none;
}

.card-img {
  width: auto;
  height: 12rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: sepia(50%) brightness(80%) contrast(120%);
  box-shadow: inset 0px 0px 50px rgba(0, 0, 20, 1);
  transition: 0.5s;
}

.card:hover .card-img {
  filter: none;
  box-shadow: none;
}

.card:hover .card-title,
.card:hover .card-comment {
  color: #4ca1af;
}

.card-img-1 {
  background-image: url('../img/my-resume.png');
}
.card-img-2 {
  background-image: url('../img/the-wheel.png');
}
.card-img-3 {
  background-image: url('https://images.unsplash.com/photo-1414016642750-7fdd78dc33d9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1498&q=80');
}

.card-img-4 {
  background-image: url('https://images.unsplash.com/photo-1500520198921-6d4704f98092?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1525&q=80');
}

.card-title {
  font-weight: 400;
  font-size: 1.3rem;
  margin: 1rem 0 0.5rem 0;
  text-transform: uppercase;
  transition: 0.5s;
}

.card-comment {
  margin: 0.5rem 0 1rem 0;
  transition: 0.5s;
}
