/* * {
  background: black;
  color: green;
  outline: 1px solid red;
} */

body {
  background: #e2e1e0;
}

.container {
  max-width: 1080px;
  height: 100%;
  margin: 2rem auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-template-areas:
    'banner banner banner'
    'content-1 content-1 title-1'
    'title-2 content-2 content-2'
    'content-3 content-3 title-3'
    'title-4 content-4 content-4'
    'content-5 content-5 title-5'
    'footer footer footer';
  gap: 1.5rem;
}

.content {
  /* background: #fffff6; */
  background: #fffeee;
  /* background: #fff; */
  /* background: rgb(141, 61, 61); */
  /* color: rgb(50, 51, 53);*/
  color: #2c3e50;
  /* color: white; */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.content:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.title {
  /* background: rgb(250, 246, 184); */
  /* background: #fff; */
  background: #fffff6;
  /* background: rgba(0, 0, 0, 0); */

  color: #4ca1af;
  /* color: #2c3e50; */

  font-size: 2.8rem;
  font-weight: 400;
  /* border: 5px solid rgb(141, 61, 61); */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.title:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.rounded-all {
  border-radius: 2px;
}

.transition {
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
}

b {
  font-weight: 600;
}

.banner {
  /* background: rgb(50, 51, 53); */
  /* From uiGradients: Deep Sea Space */
  background: #2c3e50; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4ca1af,
    #2c3e50
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4ca1af,
    #2c3e50
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  grid-area: banner;
  height: 300px;
  display: flex;
}

.banner:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.blinking-cursor {
  font-weight: bold;
  font-size: 3.6rem;
  color: #2e3d48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from,
  to {
    color: transparent;
  }
  50% {
    /* color: black; */
    color: white;
  }
}

@-moz-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    /* color: black; */
    color: white;
  }
}

@-webkit-keyframes "blink" {
  from,
  to {
    color: transparent;
  }
  50% {
    /* color: black; */
    color: white;
  }
}

@-ms-keyframes "blink" {
  from,
  to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-o-keyframes "blink" {
  from,
  to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

.banner-title {
  /* color: #fff; */
  color: #fffeee;
}

.name-plate {
  font-size: 1.8rem;
  align-self: center;
  margin-left: 3rem;
}

.contact {
  color: #fff;
  font-size: 1rem;
  line-height: 1.5rem;

  padding-right: 1rem;
  margin-left: auto;
  align-self: flex-end;
}

a {
  color: #fff;
}

a:hover {
  color: #4ca1af;
}

.content-1 {
  grid-area: content-1;
  padding: 2rem;
}

.title-1 {
  grid-area: title-1;
  display: flex;
  padding-left: 2rem;
}

.title-1 p,
.title-2 p,
.title-3 p,
.title-4 p,
.title-5 p {
  align-self: center;
}

.title-2 {
  grid-area: title-2;
  display: flex;
  padding-left: 2rem;
}

.content-2 {
  grid-area: content-2;
  padding: 2rem;
}

.title-3 {
  grid-area: title-3;
  display: flex;
  padding-left: 2rem;
}

.content-3 {
  grid-area: content-3;
  padding: 2rem;
}

.title-4 {
  grid-area: title-4;
  display: flex;
  padding-left: 2rem;
}

.content-4 {
  grid-area: content-4;
  padding: 2rem;
}

.title-5 {
  grid-area: title-5;
  display: flex;
  padding-left: 2rem;
}

.content-5 {
  grid-area: content-5;
  padding: 2rem;
}

.footer {
  /* background: rgb(50, 51, 53); */
  /* From uiGradients: Deep Sea Space */
  background: #2c3e50; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #4ca1af,
    #2c3e50
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #4ca1af,
    #2c3e50
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  grid-area: footer;
  text-align: center;
  line-height: 3rem;
}

#btn1 {
  position: fixed;
  top: 2rem;
  left: 2rem;
}

#btn2 {
  position: fixed;
  top: 4rem;
  left: 2rem;
}

#btn3 {
  position: fixed;
  top: 6rem;
  left: 2rem;
}

.lang-icon {
  position: fixed;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  font-family: inherit;
  border: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.lang-icon:hover {
  color: red;
}

.locale-menu {
  position: fixed;
  top: 1rem;
  right: -6.5rem;
  /* right: 0px; */
  font-family: 'Noto Sans TC', sans-serif;
  /* padding-right: 5px; */
  display: flex;
  flex-direction: column;
  z-index: 3;
}

.locale-menu:hover {
  right: 0px;
}

.locale-items {
  /* border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
  background: #4ca1af;
  align-self: flex-end;
}

.locale-item {
  width: 80px;
  height: 2rem;

  color: #2c3e50;
  background: #4ca1af;
  line-height: 2rem;
  text-align: center;

  padding: 0 1rem 0 1rem;
  cursor: pointer;
}

.locale-icon {
  width: 130px;
  height: 2.3rem;

  color: #2c3e50;
  background: #4ca1af;
  line-height: 2rem;
  text-align: left;

  padding: 0 1rem 0 0.5rem;
  /* border-radius: 2px; */
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */

  cursor: pointer;
  vertical-align: middle;
  align-self: flex-end;
}

.fa-language {
  vertical-align: middle;
}

.locale-item:hover {
  background: #2c3e50;
  color: #fff;
}

.lang-icon:hover .locale-item {
  background: yellow;
}

.year {
  /* color: rgb(138, 138, 138); */
  color: #4ca1af;
}

.lang,
.cert {
  display: flex;
}

.lang-list,
.lang-level,
.cert-score,
.cert-title {
  width: 100px;
  margin: 0.5rem;
}

.cert-list {
  width: 150px;
  margin: 0.5rem;
}

.cert-title {
  font-weight: bold;
}

.skill {
  display: flex;
}

.skill-list {
  width: auto;
  margin: 0.5rem;
}

.devicon {
  font-size: 3rem;
  transition: 0.5s;
}

.skill-list:hover .devicon,
.skill-list:hover .skill-name {
  color: #4ca1af;
}

.skill-icon {
  margin: 1rem;
}

.skill-name {
  text-align: center;
  transition: 0.5s;
}

/* Style the header: fixed position (always stay at the top) */
.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  /* background-color: #f1f1f1; */
  opacity: 0.8;
}

/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 8px;
  background: #e2e1e0;
  /* border-bottom: 2px solid #fff; */
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 8px;
  background: #4ca1af;
  width: 0%;
}

/* Go to Top Button */
.scrolltop {
  display: none;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  bottom: 0px;
  /* left: 0px; */
}

.scroll {
  position: absolute;
  left: 10px;
  bottom: 10px;
  color: #2c3e50;
  background: #4ca1af;
  /* background: rgba(178, 178, 178, 0.7); */
  padding: 5px 10px 5px 10px;
  text-align: center;
  margin: 0 0 0 0;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.scroll:hover {
  /* background: rgba(178, 178, 178, 1); */
  color: #fff;
  background: #2c3e50;
}

/* My projects grid */
.project-container {
  width: 100%;
  height: 100%;
  /* background: #ccc; */
  /* border: 1px solid red; */

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  gap: 1rem;
}

.project-item {
  width: 100%;
  height: 177px;
  background: gray;
  position: relative;
  overflow: hidden;
  object-fit: cover;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.project-item img {
  /* height: 100%; */
  width: 100%;
}

.project-item .content-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.project-item:hover .content-overlay {
  opacity: 1;
}

.content-image {
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.project-item:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p {
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom {
  top: 80%;
}
