@media only screen and (max-width: 1080px) and (-webkit-min-device-pixel-ratio: 2) {
  .container {
    width: 95vw;
  }

  .banner {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      'name name name .'
      /* '. . . .' */
      '. . contact contact';
  }

  .contact {
    margin-top: auto;
    margin-left: auto;
  }
}

@media only screen and (max-width: 992px) and (-webkit-min-device-pixel-ratio: 2) {
  .container {
    width: 95vw;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-template-areas:
      'banner'
      'title-1'
      'content-1'
      'title-2'
      'content-2'
      'title-3'
      'content-3'
      'title-4'
      'content-4'
      'title-5'
      'content-5'
      'footer';
    gap: 1rem;
  }

  /* .project-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  } */

  .banner {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      'name name name . '
      '. . . .'
      '. .  contact contact';
  }

  .locale-menu {
    display: none;
  }

  .locale-menu-mobile {
    display: block;
  }

  .skill {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media only screen and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2) {
  .container {
    width: 95vw;
  }

  /* .project-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  } */

  .banner {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      'name'
      'contact';
    gap: 0;
    padding: 0.5rem;
  }

  .skill {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media only screen and (max-width: 576px) and (-webkit-min-device-pixel-ratio: 2) {
  /* @media only screen and (-webkit-min-device-pixel-ratio: 3),
  only screen and (-moz-min-device-pixel-ratio: 3),
  only screen and (-o-min-device-pixel-ratio: 3/1),
  only screen and (min-device-pixel-ratio: 3),
  only screen and (min-resolution: 458dpi),
  only screen and (min-resolution: 3dppx) { */
  .container {
    width: auto;
  }

  .project-container {
    grid-template-columns: 1fr;
    /* grid-auto-rows: auto; */
    gap: 1rem;
  }

  .banner {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      'name'
      'contact';
    gap: 0;
    padding: 0.2rem;
  }
  .name-plate {
    text-align: center;
  }

  .skill {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 375px) and (-webkit-min-device-pixel-ratio: 2) {
  body {
    font-size: 32px;
  }

  .contact {
    margin: auto auto 0 auto;
    font-size: 1.2rem;
  }

  .locale-icon-mobile {
    width: 500vw;
    height: 4rem;
    text-align: left;
    padding-left: 1rem;
  }

  .container {
    top: 2.3rem;
  }

  .skill {
    grid-template-columns: repeat(2, 1fr);
  }

  .content-5 {
    grid-template-columns: 1fr;
    font-size: 24px;
  }

  .lang-list,
  .lang-level {
    width: 9.25rem;
  }

  .cert-header {
    font-size: 2.2rem;
    margin-top: 2rem;
  }

  .footer {
    font-size: 1rem;
  }
}
